.slider {
    position: fixed;
    bottom: 60;
    z-index: 10;
}
.main {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: var(--secondary-light);
}