* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

:root {
    --primary-main: #A1A3AE;
    --primary-light: #D3D3D3;
    --primary-dark: #66696E;

    --secondary-main: #f44336;
    --secondary-light: #ff7961;
    --secondary-dark: #ba000d;
}
