* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

:root {
    --primary-main: #ffebee;
    --primary-light: #ef5350;
    --primary-dark: #c62828;

    --secondary-main: #c5cae9;
    --secondary-light: #5c6bc0;
    --secondary-dark: #283593;
}
